fastapi[standard]
sqlalchemy>=2.0
psycopg[binary]>=3.1
pydantic-settings>=2.0
argon2-cffi
pyjwt[crypto]
redis
structlog

opentelemetry-distro==0.52b1
opentelemetry-exporter-otlp==1.31.1
opentelemetry-instrumentation-fastapi==0.52b1
opentelemetry-instrumentation-sqlalchemy==0.52b1
opentelemetry-instrumentation-httpx==0.52b1